[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[dev-packages]



[packages]

flask = "*"
flask-login = "*"
voluptuous = "*"
werkzeug = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
requests = "*"
flask-testing = "*"
uwsgi = "*"
cryptography = "*"


[requires]

python_version = "3.6"
